.task_container {
    border: 1.7px solid red;
    border-radius: 10px;
    height: 100px;
    background-color: #f3ecec;
    padding: 5px;
    margin: 10px;
    cursor:grab;
}

.task_container__dragging {
    border: 1.7px solid red;
    border-radius: 10px;
    height: 100px;
    background-color: #757373;
    padding: 5px;
    margin: 10px;
    cursor:grab;
}