.BoardPage {
    display: flex;
    flex-direction: column;
    &_title {
        color: var(--primary-color);
    }
    &_select {
        margin-top: 20px;
        border-radius: var(--border-radius);
        width: min-content;
    }
    &_additional_params {
        margin-top: 10px;
        &_block {
            margin-top: 3px;
            white-space: nowrap;
            &__checkbox {
                width: 17px;
                height: 17px;
                margin-right: 5px;
            }
        }
    }
}