.TaskCard {
    position: relative;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    min-height: 100px;
    max-height: 150px;
    overflow: auto;
    background-color: #f9f8f8;
    padding: 5px;
    margin: 10px;
    cursor:grab;
    &__dragging {
        border: 1px solid var(--secondary-color);
        border-radius: var(--border-radius);
        height: 100px;
        background-color: var(--bt-color);
        padding: 5px;
        margin: 10px;
        cursor:grab;
    }
    &__user_field {
        display: flex;
        align-items: center;
        background-color: rgb(218, 213, 213);
        padding: 0 10px ;
        white-space: nowrap;
        width: min-content;
        border-radius: var(--border-radius);
        &__title {
            margin-right: 10px;
        }
    }
    &__task_description_field {
        margin-top: 5px;
    }
    &__status_field {
        display: flex;
        position: absolute;
        bottom: 4px;
        right: 10px;
    }
    &__comment_field {
        margin-top: 5px;
       
    }
    &__priority_field {
        margin-top: 5px;
        display: flex;
        align-items: center;
    }
    &__deadline_field {
        margin-top: 5px;
    }
}
