.TaskCard {
    position: relative;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    min-height: 100px;
    max-height: 150px;
    overflow: auto;
    background-color: #f9f8f8;
    padding: 5px;
    margin: 10px;
    cursor:grab;
    &__dragging {
        border: 1px solid var(--secondary-color);
        border-radius: var(--border-radius);
        height: 100px;
        background-color: var(--bt-color);
        padding: 5px;
        margin: 10px;
        cursor:grab;
    }
    &__user_field {
        display: flex;
        align-items: center;
        background-color: rgb(218, 213, 213);
        padding: 0 10px ;
        white-space: nowrap;
        width: min-content;
        border-radius: var(--border-radius);
        &__title {
            margin-right: 10px;
        }
    }
    &__task_description_field {
        margin-top: 5px;
    }
    &__status_field {
        display: flex;
        position: absolute;
        bottom: 4px;
        right: 10px;
    }
    &__comment_field {
        margin-top: 5px;
       
    }
    &__priority_field {
        margin-top: 5px;
        display: flex;
        align-items: center;
    }
    &__deadline_field {
        margin-top: 5px;
    }
    &__show_parameters {
        position: absolute;
        text-align: center;
        cursor: pointer;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid var(--bt-color);
        border-radius: var(--border-radius);
    }
    &__parameters_option {
        position: absolute;
        top: 5px;
        right: 25px;
        width: 200px;
        z-index: 2;
        background-color: rgb(178, 180, 183);
        padding: 5px;
        cursor: pointer;
        &__select {
            &:hover {
                color: rgb(3, 15, 240);
            }
        }
    }
    &__add_field_text {
        position:absolute;
        display: none;
        top: 5px;
        right: 30px;
        z-index: 2;
    }
    &__parameter_field__input {
        width: 165px;
        word-wrap: break-word; 
    }
}
