.ColumnContainer  {
    width: 350px;
    min-height: 200px;
    max-height: 400PX;
    background-color: #cac1b5;
    margin-right: 30px;
    overflow: scroll;
}

.column_title {
    //TODO: вынести в глобальные переменные
    font-size: 18px;
    text-align: center;
}